name: Deploy Streamlit RL App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO_URL }}

    - name: Build Docker image
      run: |
        docker build -t streamlit-rl-app .

    - name: Tag & push to ECR
      run: |
        docker tag streamlit-rl-app:latest ${{ secrets.ECR_REPO_URL }}:latest
        docker push ${{ secrets.ECR_REPO_URL }}:latest

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: ECR_REPO_URL
        script: |
          export ECR_REPO_URL=${{ secrets.ECR_REPO_URL }}
          ./deploy.sh
